.search-line {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.input {
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    width: 30rem;
    font-size: 1.5rem;
}

.clear-btn {
    cursor: pointer;
}